@import "mixins";

.layout-container {
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}
/***** BOOKMARK.JS *****/
.post-icon-bg {
  background-color: #ffffff;
  height: 45px;
  width: 45px;
  margin-bottom: 15px;
  padding: 10px 0;
}
.bookmark-img-wrap {
  height: 25px;
  width: 25px;
  margin: auto;
  display: block;
}

/***** CURRENT EVENTS CARD *****/
/***** CURRENT EVENTS CARD *****/
/***** CURRENT EVENTS CARD *****/
.current-events {
  margin: 0vh 0 2vh 5vw;
  width: 95vw;
  @include for-desktop-up {
    margin: 0 0 0 25px;
  }
  .ce-card-wrap {
    display: flex;
    margin: 0;
    @include for-desktop-up {
      padding-top: 10px;
      width: 85vw;
      display: flex;
    }
  }
}
.current-events-card {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 80vw;
  margin-right: 5vw;
  background-color: #ffffff;
  border-radius: 4px;
  @include for-desktop-up {
    margin: 0px 0 0 25px;
    width: 530px;
    height: 22.5vh;
    min-width: 530px;
  }
}
.ce-card-header {
  display: flex;
  justify-content: space-between;
}
.ce-card-subheader {
  color: #1ac182;
  background-color: #dbf2e9;
  height: 4vh;
  width: 45vw;
  border-radius: 4px;
  margin: 1.5vh 0 0 3vw;
  @include for-desktop-up {
    height: 25px;
    width: 145px;
    margin: 15px 0 0 15px;
  }
}
.subheader-text {
  font-family: "Montserrat", SemiBold;
  text-align: center;
  margin: 4px auto;
}
.ce-card-postdate {
  margin: 1.5vh 3vw 0 0;
  @include for-desktop-up {
    margin: 15px 15px 0 0;
  }
}
.ce-card-main {
  font-size: 16px;
  margin: 1.5vh 0 0 3vw;
  height: 17vh;
  @include for-desktop-up {
    margin: 15px 0 0 15px;
    height: 100px;
  }
}
.ce-card-citation {
  font-size: 12px;
  color: #7621d8;
  margin: 1.5vh 0 0 3vw;
  height: 14px;
  @include for-desktop-up {
    margin: 15px 0 0 15px;
  }
}

/***** HEADER *****/
/***** HEADER *****/
/***** HEADER *****/
.headerwrap {
  height: 60px;
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  background-color: #ffffff;
}

.headerlogowrap {
  padding-left: 15px;
  display: flex;
  height: auto;
  align-content: center;
  justify-content: center;
}
.headertitle {
  font-size: 200%;
  font-weight: bold;
  margin: auto;
  font-family: "Raleway", sans-serif;
}
.headerbuttonslist {
  display: none;
  @include for-desktop-up {
    display: flex;
    list-style: none;
    width: 45vw;
    justify-content: space-between;
    padding: 0px;
    flex-wrap: wrap;
  }
}
.headerbuttons {
  font-size: 125%;
  font-weight: 400;
}
.headersearchwrap {
  height: 60px;
  width: 60px;
  display: flex;
  @include for-desktop-up {
    height: 35px;
    width: 250px;
    background-color: #e8efee;
    font-weight: 600;
    display: flex;
    border-radius: 8px;
  }
}
.search-icon-wrap {
  position: relative;
  width: 20px;
  @include for-desktop-up {
    margin-left: 5px;
  }
}
.headersearchtext {
  display: none;
  @include for-desktop-up {
    display: flex;
    margin: auto;
    margin-left: 0;
    padding-left: 2%;
    text-align: left;
    color: #bcc1cb;
  }
}
.headerlogin {
  display: none;
  @include for-desktop-up {
    height: 35px;
    width: 90px;
    border-radius: 8px;
    text-align: center;
    font-size: 125%;
    font-weight: 400;
    background-color: #1ac182;
    color: white;
    margin-right: 15px;
  }
}

/***** FOOTER *****/
/***** FOOTER *****/
/***** FOOTER *****/
.footerwrap {
  display: none;
  @include for-desktop-up {
    height: 100px;
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #7a8398;
  }
}
.footer-left {
  display: flex;
  flex-direction: column;
}
.footerlogowrap {
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
  height: auto;
  align-content: center;
  justify-content: center;
}

.footer-logo {
  height: 35px;
  width: 35px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;
}
.footerbuttonslist {
  display: flex;
  list-style: none;
  width: 460px;
  justify-content: space-around;
  padding: 0px;
  flex-wrap: wrap;
  margin: 0;
}
.footerbuttons {
  font-size: 100%;
  font-weight: 400;
}
/***** HOME POST CARD *****/

.home-post-card {
  background-color: #ffffff;
  border-radius: 4px;
  display: flex;

  width: 80vw;
  height: 5.5vh;

  @include for-desktop-up {
    display: flex;
    width: 350px;
    height: 60px;
    margin: 15px 0 0 0px;
    background-color: #ffffff;
    border-radius: 4px;
  }
}
.post-card-bookmark {
  margin: auto 18px;
  position: relative;
  width: 20px;
  height: 30px;
}
.post-title {
  font-size: 20px;
  font-weight: 600;
  margin: auto 0;
  width: 100%;
  text-align: left;
}
.post-card-carot {
  margin: auto 15px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 15px;
  padding-top: 6px;
  width: 10px;
  transition: all 2 linear;
}
.post-card-carot-rotate {
  margin: auto 15px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 15px;
  padding-top: 6px;
  width: 10px;
  transform: rotate(90deg);
}

/***** HOME POST CARD EXTENSION *****/
.home-post-card-extension {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 5vh;
  background-color: #ffffff;
  border-radius: 4px;
  margin: auto 0;
  @include for-desktop-up {
    width: 350px;
  }
}
.extension-subheader {
  display: flex;
  margin: auto 0;
}
.extension-subheader-text {
  margin: auto 0 auto 15px;
}
.extension-logo-wrap {
  height: 20px;
  width: 20px;
  margin: 5px 0 5px 15px;
  position: relative;
}

/***** VERTICAL CONTENT *****/
.category-home-vertical {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 5vw;
  margin: 0 auto;
  @include for-desktop-up {
    margin: 0 25px;
    padding: 0;
  }
}
.font-category-header {
  padding: 10px 0 10px 0px;
  font-size: 30px;
  color: #1ac182;
  font-family: "Sanchez", serif;
  @include for-desktop-up {
    text-align: left;
  }
}
